.wheel-container {
  background: #000;
  border-radius: 50%;
  border: 3px solid var(--wheel-color);
  box-sizing: content-box;
  display: block;
  height: calc(var(--wheel-size) + 2*var(--wheel-border-size));
  margin: 20px auto;
  padding: 3px;
  position: relative;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
  width: calc(var(--wheel-size) + 2*var(--wheel-border-size));

  &::after,
  &::before{
    content: "";
    display: block;
    position: absolute;
    height: 0;
    width: 0;
    top: 50%;
    transform: translateY(-50%);
    z-index: 2;
    border: 20px solid transparent;
    border-left-width: 0;
  }
  &:after {
    right: -5px;
    border-right-color: var(--neutral-color);
  }
  &:before {
    right: 0;
    border-right-color: var(--wheel-color);
  }
}

.wheel {
  border-radius: 50%;
  border: solid var(--neutral-color) var(--wheel-border-size);
  box-sizing: content-box;
  cursor: pointer;
  display: block;
  height: var(--wheel-size);
  margin: auto;
  overflow: hidden;
  position: relative;
  -webkit-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: -webkit-transform var(--reset-duration);
  transition: -webkit-transform var(--reset-duration);
  transition: transform var(--reset-duration);
  transition: transform var(--reset-duration),-webkit-transform var(--reset-duration);
  width: var(--wheel-size);

  &.spinning {
    transition: transform var(--spinning-duration);
    transform: rotate(calc(var(--nb-turn)*360deg + -360deg*var(--selected-item)/var(--nb-item, 1)));
  }

  &-item,
  &-item:before {
    display: block;
    position: absolute;
    box-sizing: border-box;
    top: 50%;
    left: 50%;
    transition: all 1s ease-out;
  }

  &-item {
    width: 50%;
    transform-origin: center left;
    // transform: translateY(-50%) rotate(calc(var(--item-nb)*360deg/var(--nb-item, 1)));
    color: var(--neutral-color);
    text-align: right;
    padding: 0 25px 0 50px;
    font-family: var(--wheel-font);
    opacity: 0;
    &.fadeIn { opacity: 1; }
    &.selected {
      font-size: 20px;
      font-weight: 600;
      color: #ff0;
    }
  }
}