.sidebar {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: antiquewhite;
  z-index: 3;
  transform: translateX(110%);

  &-icon {
    position: absolute;
    top: 1rem;
    right: 1rem;
  }
}