.sidebar {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  min-height: 100vh;
  background-color: #f4f4f4;
  z-index: 3;
  transform: translateX(-110%);
  transition: all .5s ease-in-out;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 3rem;

  &.show {
    transform: translateX(0%);
  }

  &-icon {
    position: absolute;
    top: 1rem;
    right: 1rem;
    color: #f4f4f4;
    transition: color .5s;
    z-index: 999;
    position: fixed;

    &:hover { 
      cursor: pointer; 
      color: #2c2c2c;
      animation: gearSpin 5s infinite;
    }
    padding: 1rem;
  }

  &-settings {
    border: 6px solid #2c2c2c;
    border-radius: 30px;
    color: #2c2c2c;
    padding: 2rem;
    width: 80vw;
    max-width: 1200px;
    min-height: 80vh;
    text-align: center;
    font-size: 1.5rem;
    
    h2 {
      text-transform: uppercase;
      margin-bottom: 1rem;
    }
    h3 {
      font-size: 1rem;
    }
  }

  &-add {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    transition: all .3s ease-in-out;
    margin-bottom: 1rem;
    height: 3rem;
    &:hover {
      cursor: pointer;
      color: black;
    }

    &-input {
      padding: .5rem;
      width: 50%;
      margin-right: 1rem;
      font-size: 1.5rem;
      text-transform: capitalize;
    }
  }

  .user {
    text-transform: capitalize;
    padding: .5rem;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    border-bottom: 3px dotted white;
    .disabled {
      color: #ccc;
    }
    
    &-icon {
      transition: all .3s ease-in-out;
      font-size: 2rem;
      margin-left: 1rem;

      &:hover { 
        cursor: pointer; 
        color: black;
      }
    }
  }
}

@keyframes gearSpin {
  0% {
    transform: scale(1) rotate(0deg) ;
  }
  50% {
    transform:  scale(1.2) rotate(180deg);
  }
  100%{
    transform: scale(1) rotate(360deg);
  }
}