/* RESET */
*,*::before,*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {  }

/* VARIABLES */
:root {
  --wheel-font: "Poppins",sans-serif;
  --wheel-size: 50vw;
  --wheel-slice-spacing: 50px;
  --wheel-border-size: 5px;
  --wheel-color: #000;
  --neutral-color: #fff;
  --PI: 3.14159265358979;
  --selected-item: 2;
  --nb-turn: 5;
  --spinning-duration: 4s;
  --reset-duration: 0.25s;
}

.App { position: relative; }

/* CONTAINER */
.main-container {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: 100vh;
  position: fixed;
  transform: translateX(50%);

  .pillar-name { 
    text-transform: uppercase; 
    margin-bottom: 3rem;
  }
  .notice {
    text-transform:uppercase;
  }
}
.container {
  margin: 0 auto;
  // padding: 0 30px;

  @media (min-width: 576px){
    max-width: 540px;
  }
  @media (min-width: 768px){
    max-width: 720px;
  }
  @media (min-width: 768px){
    max-width: 720px;
  }
  @media (min-width: 992px){
    max-width: 960px;
  }
  @media (min-width: 1200px){
    max-width: 1140px;
  }
  @media (min-width: 1900px) {
    max-width: 1610px;
  }
}

/* UTILITY */
.animated {
  animation-duration: 1s;
  animation-fill-mode: both;
}

.fadeIn {
  animation:  1s fadeIn;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}




